


<!-- Jumbotron -->
<div class="jumbotron" style="padding:10rem">
  <h1> Qui-suis-je ?</h1>
  <p class="lead">Jeune étudiant en MMI, je suis aussi passioné d'entreprenariat et de marketing, j'ai crée cette petite application, afin de partager mes connaissances et d'échanger avec les auto entrepreneurs d'aujourd'hui et de demain. </p>
  <p>




</div>