

<div class="container">

<!-- Jumbotron -->
<div class="jumbotron" style="padding:5rem" >
  <h1> Le petit Démarcheur </h1>

  <br>
  <p class="lead" style="line-height:3rem;">  Salutation jeune entrepreneur 
  si tu es sur ce site, c'est que de près ou de loin tu as entendu parlé de l'entreprenariat. 
  le marketing digital ou  la vente t'attire ? et bien ça nous fait un point commun ! 
  Sur ce  blog je partagerai avec toi  quelques articles sur mon lifestyle, mon travail, et mes passions 
  mais aussi et surtout, on parlera de tout  ce qui se rapporte à l'entreprenariat. Bonne visite !
  </p>
  
  <br>
  <br>


  <p> 
  <a href="<%= posts_path %>" class="btn btn-primary"> Découvrir les articles</a>
  </p>
  


<!-- Site footer -->


</div>

<div class="container2">


</div>
